{% extends "base.html" %}

{% block content %}
    <h2>Регистрация</h2>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" required>
        <br>

        <label for="surname">Фамилия:</label>
        <input type="text" name="surname" id="surname" required>
        <br>

        <label for="birthdate">Дата рождения:</label>
        <input type="date" name="birthdate" id="birthdate" required>
        <br>

        <label for="hobbies">Увлечения:</label>
        <input type="text" name="hobbies" id="hobbies" required>
        <br>

        <label for="photo">Аватар:</label>
        <input type="file" name="photo" id="photo" accept="image/*" required>
        <br>

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}
